.contact_container{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 30px;
    .left_info{
        width: 50%;
        height: 100%;
        img{
            width: 80%;
            max-width: 500px;
            height: auto;
            position: relative;
            left: 50%;
            top: 0;
            margin-top: 30px;
            transform: translate(-50%,0);
        }
    }
    .right_info{
        width: 50%;
        height: 100%;
        form{
            position: relative;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            margin-top: 20px;
            input, textarea{
                outline: none;
                font-size: 16px;
                width: 100%;
                background-color: transparent;
                margin: 16px 0;
                border: none;
                border-left: 5px solid var(--orange);
                border-bottom: 5px solid var(--orange);
                padding: 12px;
            }
            textarea{
                padding: 12px 12px 82px 12px;
            }
            .input-valid{
                border-color: red;
            }
            .submit_input{
                width: auto;
                background-color: var(--orange);
                color: white;
            }
            .rodo-box{
                display: flex;
                justify-content: flex-start;
                // align-items: flex-start;
                width: 100%;
                input{
                    width: 20px;
                }
                .checkbox-valid {
                    outline: 5px solid red;
                }
                p{
                    margin-left: 6px;
                    
                }
            }
        }
    }
    h2{
        color: var(--orange);
        margin: 0 40%;
        font-size: 32px;
    }
}