.contact_container {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  position: relative;
}

.contact_container .left_info {
  width: 50%;
  height: 100%;
}

.contact_container .left_info img {
  width: 80%;
  max-width: 420px;
  height: auto;
  position: relative;
  left: 50%;
  top: 20px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.contact_container .right_info {
  width: 50%;
  height: 100%;
}

.contact_container .right_info form {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.contact_container .right_info form input, .contact_container .right_info form textarea {
  outline: none;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  margin: 16px 0;
  border: none;
  border-left: 5px solid var(--orange);
  border-bottom: 5px solid var(--orange);
  padding: 12px;
}

.contact_container .right_info form textarea {
  padding: 12px 12px 82px 12px;
}

.contact_container .right_info form .input-valid {
  border-color: red;
}

.contact_container .right_info form .submit_input {
  width: auto;
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.contact_container .right_info form .rodo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.contact_container .right_info form .rodo-box input {
  width: 20px;
  cursor: pointer;
}

.contact_container .right_info form .rodo-box .checkbox-valid {
  outline: 5px solid red;
}

.contact_container .right_info form .rodo-box p {
  text-decoration: underline;
  margin-left: 6px;
  cursor: pointer;
}

.contact_container h2 {
  color: var(--orange);
  font-size: 32px;
  width: 100%;
  text-align: center;
}

.rodo_info {
  width: 600px;
  height: auto;
  border: 3px solid var(--orange);
  position: absolute;
  right: 200px;
  bottom: 220px;
  font-size: 12px;
  font-weight: 400;
  background-color: white;
  padding: 4px;
}

@media only screen and (max-width: 600px) {
  .contact_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .contact_container .left_info {
    width: 100%;
  }
  .contact_container .right_info {
    width: 100%;
    margin-top: 40px;
  }
  .contact_container .right_info form {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
  }
  .rodo_info {
    width: 90%;
    height: auto;
    right: 4%;
  }
}
/*# sourceMappingURL=Contact.css.map */